
calculator/calculator/.idea/discord.xml
calculator/.DS_Store
calculator/calculator/.DS_Store
calculator/calculator/src/.DS_Store
calculator/calculator/src/main/.DS_Store
calculator/calculator/src/main/java/.DS_Store
calculator/calculator/src/test/.DS_Store
calculator/calculator/target/.DS_Store
